fastapi==0.135.4
pydantic==2.12.4
SQLAlchemy==2.0.51
aiomysql==0.3.2
redis==8.1.0
passlib==1.7.4
bcrypt==3.2.0
uvicorn==0.40.0
python-dotenv==1.2.2
httpx==0.28.1
feedparser==6.0.14
selectolax==0.4.11
APScheduler==3.11.3
